alias ojl='oj l -u rajyan -p $AC_PASS https://atcoder.jp'
alias ojd='rm -rf test && oj d $(pbp | sed "s/\r//")'
alias ojt='oj t --print-memory -c ../x64/Debug/${PWD##*/}.exe'
alias ojtr='oj t --print-memory -c ../x64/Release/${PWD##*/}.exe'
alias ojs='oj s $(ls -t | grep .cpp$ | head -1)'
alias ojdt='ojd && ojt'
alias ojts='ojt && ojs'
